@import '../variables';

.addpanal-modal {
    height: 100vh;
    width: 100%;
    background-color: rgba(58, 60, 60, 0.6);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    z-index: 1000;
    overflow: hidden;
    user-select: none;
}

.addpanal-container {
    height: 400px;
    width: 520px;
    background-color:  $color-light;
    box-shadow: 0px 20px 30px rgba(0, 85, 212, 0.3019607843);
    border-radius: 3px;
    padding: 10px;
    position: relative;
    z-index: 1000;
    p{
        margin: 0;
    }
    .title-and-close{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 5px;
        border-bottom: 1px solid $color-dark-2 ;
    }
    .addpanal-content {
        // height: 125px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        color:  $color-light;

        .addpanal-content-stpes{
            background-color: $color-primary;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            padding: 3px;
            width: 45%;
            margin: 12px 10px;
            border-radius: 3px;
            cursor: pointer;
        }

         
    }

    // .addpanal-footer {
    //     margin-right: 20px;
    //     display: flex;
    //     justify-content: center;
    //     margin-top: 20px;
    // }
}