@import '../variables';

.wait-component {
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  background-color:  $color-light;
  height: 90px;
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  .wait-view-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    border-bottom: 1px solid $color-dark-2;
    margin-bottom: 10px;
    height: 30px;
  }

  .wait-view {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .wrap-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}
